*{
	font-family: arial;
}

body{
	background-color: cyan;
}

section{
	display: flex;
	flex-direction: column;
}

footer{
	border: 1px solid black;
	margin-top: 2%;
	margin-left: 35%;
	margin-right: 35%;
	background-color: white;
	text-align: center;
}

#boton{
	padding: 4%;
}

.titulo{
	border: 1px solid black;
	text-align: center;
	margin-bottom: 2%;
	background-color: white;
	margin-left: 35%;
	margin-right: 35%;
}

.contenedorSudoku {
	display: grid;
	grid-template-columns: 100px 100px 0px;
	grid-gap: 13px;
	justify-content: center;
	margin-right: 7%;
}

.contenedorSudoku div{
	border: 1px solid black;
	width: 100px;
	height: 100px;
}

.cuadradoSudoku {
	display: grid;
	grid-template-columns: 33px 33px 0px;
}

.cuadradoSudoku input{
	width: 28px;
	height: 29px;
	text-align: center
}
